body {
  width: 100%;
  height: 100vh;
  margin: 0;
  background-color: rgb(100, 100, 100);
  color: rgb(100, 170, 200);
  font-family: Tahoma;
  font-size: 16px;
}
h1,
p {
  margin: 1em auto;
  text-align: center;
  font-family: "Times New Roman", Times, serif;
}

h1 {
  margin-bottom: 10px;
  font-size: 50;
}

p {
  margin-top: 0px;
  font-size: 28px;
  margin-bottom: 20px;
}
form {
  background-color: #1b1b32;
  width: 900px;
  margin: 0 auto;
  min-width: 500px;
  margin-top: 30px;
}
label {
  display: block;
  margin-left: 35px;
  font-size: 25px;
  font-family: "Times New Roman", Times, serif;
  margin-bottom: 9px;
  margin-right: 35px;
}

input[type="text"],
[type="email"],
[type="number"] {
  margin-bottom: 15px;
}

select[id="dropdown"] {
  margin-bottom: 20px;
}

.feature,
.comment {
  margin-top: 20px;
}

input,
select,
textarea,
button {
  width: 100%;
  height: 40px;
  font-size: 25px;
}

input[type="radio"],
[type="checkbox"] {
  width: 0.6em;
  vertical-align: middle;
}
textarea {
  height: 150px;
}

button {
  margin: 1em auto;
  height: 2.5em;
  font-size: 1.5rem;
  background-color: rgb(80, 180, 80);
  color: white;
  text-align: center;
  margin-top: 40px;
  border: none;
  margin-bottom: 100px;
}

.bracket-text {
  display: inline;
  color: gray;
  font-size: 20px;
}

label[id="name-label"] {
  padding-top: 40px;
}
